body {
 background-color: white;
 margin: 0 0 0 0;
} 

 
main {
 width: 100%;
 height: calc(100vh - 100px);
 background-color: white;
 margin-top: 100px;
 background-image: url(../img/daikon2.png);
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center;
 display: flex;
 justify-content: center;
 align-items: center;
}

.main-div {
 padding: 60px;
  background-image: url(../img/white50.png);
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center;

}

h1 {
 font-size: 46px;
 line-height: 47px;
 text-shadow: 2px 2px 2px black;
 color: white;
 font-family: arial;
 text-transform: uppercase;
}

p {
 font-size: 22px;
 line-height: 26px;
 text-shadow: 1px 1px 1px grey;
 color: black;
 font-family: arial;

}

a {
 cursor: pointer;
}

.header-main {
 position: fixed;
 top: 0;
 width: 100%;
 height: 100px;
 background-color: white;
 display: flex;
 justify-content: space-between;
 z-index: 1000;
}

.header-main-logo {
 width: fit-content;
 height: 100%;
 display: flex;
}

.header-main-logo img {
 height: 100px;
}

.header-main-nav {
 width: fit-content;
 height: 100%;

}

.header-main-nav ul {
 list-style: none;
 margin-right: 30px;
}

.header-main-nav ul li {
 display: inline;
}

.header-main-nav ul li a {
 padding: 0px 10px;
 text-decoration: none;
 font-family: arial;
 color: black;
 line-height: 60px;
}

.header-main-sm {
 background-color: white;
 width: 120px;

}




